

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}



.read-the-docs {
  color: #888;
}
.container{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.card-parent{
  border-radius: 16px;
  height: 345px;
  width: 210px;
  background: linear-gradient(135deg, #cbd3f3, #b9d2ee);
  display: flex;
  padding: 15px;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
}

.card-parent h1{
  color:#111827;
  font-size: 1.1rem;
  font-weight: 500;
}

/* .profile-img{
  width: 210px;
  height: 200px;
  border-radius: 12px;
} */

.img-wrapper{
  position: relative;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  overflow: hidden;
}

.profile-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img-wrapper::after{
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to bottom, transparent 60%, rgba(213, 157, 240, 0.4));
}

.center{
  width: inherit;
  padding-left: 25px;
  display: flex;
  flex-direction: column;
  
}
.center p{
  color: #4b5563;
  font-size: 0.8rem;
}

.heading{
  display: flex;
  margin-top: 10px;
  align-items: center;
  gap: 2px;
  height: 20px;
  width: fit-content;

}
.heading span{
  margin-top: 6px;
}

.bottom{
   
  background: linear-gradient(135deg, #f3f4f6, #b8d9fe);
  display: flex;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: inherit;
  
}

.bottom .user{
  display: flex;
  align-items: center;
  gap: 6px;
  
}
.user h2{
  font-size: 14px;
  color: #6b6969;
  font-weight: normal;
}
#btn{
  background: #292929;
  border-radius: 30px;
  padding: 5px 20px;
  font-size: 14px;
  display: flex;
  align-items: center;
  
}
.plus{
  margin-top: 2px;
  margin-left: 2px;
}

